.flood-name__wrapper,
.flood-name,
.flood-wrapper__text,
.flood-btns-block {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flood-wrapper,
.flood-wrapper__send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flood-name__wrapper {
    padding: 10px;
    border-bottom: 1px solid #b83c10;
    justify-content: center;
    margin: -15px -12px 15px -12px;
}

.flood-name {
    width: 100%;
    justify-content: space-between;
}

.flood-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 3px;
}

.flood-wrapper {
    flex-wrap: wrap;
    margin: 20px 0 15px;
}

.flood-wrapper__text {
    margin: 0 0 3px;
    justify-content: space-between;
}

.flood-wrapper__input {
    font-size: 1.3rem;
    padding: 5px 10px;
    width: 43%;
    color: #a24000;
    font-family: "AnelizaRegular" !important;
}

.flood-wrapper__send {
    border-top: 1px solid #d5d4d2;
    margin: 20px 0 10px;
}

.flood-wrapper__send > p {
    background-color: #ffe3b2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
}

.flood-wrapper__send-msg {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.flood-btns-block {
    width: 100%;
    justify-content: space-around;
}

.flood-load-history {
    text-align: center;
}

.flood-chats-common {
    position: relative;
}

.flood-chats-list-common {
    margin: 10px;
}

.flood-chats-list-wrapper {
    position: absolute;
    top: -55px;
    width: 100%;
    height: 500px;
    overflow-y: auto;
    scroll-behavior: auto;
    /* background-color: #ffc869; */
    background-color: #ffefd2;
    color: #000;
    z-index: 5;
    border: 2px solid #a11313;
    border-radius: 10px;
}

.flood-chats__list-title {
    text-align: center;
    margin: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #d81818;
    text-shadow: 1px 1px 1px black;
}

.flood-chats__list-item {
    padding-bottom: 5px;
    list-style-type: disclosure-closed;
    font-size: 1.1rem;
    margin-left: 6px;
}

.flood-chats__list-create {
    width: 100%;
    text-align: center;
    margin: 10px 0;
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 2px solid #a11313;
}
