.flood-name__wrapper,
.flood-name,
.flood-wrapper__text,
.flood-btns-block {
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flood-wrapper,
.flood-wrapper__send {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.flood-name__wrapper {
    padding: 10px;
    border-bottom: 1px solid #b83c10;
    justify-content: center;
    margin: -15px -12px 15px -12px;
}

.flood-name {
    width: 100%;
    justify-content: space-between;
}

.flood-title {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.flood-wrapper {
    flex-wrap: wrap;
    margin: 20px 0 15px;
}

.flood-wrapper__text {
    margin: 0 0 3px;
    justify-content: space-between;
}

.flood-wrapper__input {
    font-size: 1.3rem;
    padding: 5px 10px;
    width: 43%;
    color: #a24000;
    font-family: "AnelizaRegular" !important;
}

.flood-wrapper__send {
    border-top: 1px solid #d5d4d2;
    margin: 20px 0 10px;
}

.flood-wrapper__send > p {
    background-color: #ffe3b2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 10px 0;
}

.flood-wrapper__send-msg {
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.flood-btns-block {
    width: 100%;
    justify-content: space-around;
}

.flood-load-history {
    text-align: center;
}
