.flood-rcvd-msg {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    margin: 10px auto;
}

.flood-message {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: flex-start;
    margin: 10px 0 15px;
    width: 100%;
    align-items: baseline;
}

.flood-message__profile {
    margin-right: 20px;
    width: 80px;
}

.flood-message__profile-avatar {
    max-width: 70px;
    max-height: 70px;
    text-align: center;
}

.flood-message__profile-avatar > img {
    border-radius: 18px;
    max-height: 70px;
}

.flood-message__text {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.flood-message__top-line {
    color: #700909;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.flood-message__text-time {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.8rem;
}

.flood-message__text-content {
    background-color: #fff6d7;
    border-radius: 0 8px 8px 8px;
    width: 100%;
    border: 1px solid #d4c9c9;
    padding: 5px 5px;
    color: #2e0202;
}

.flood-message__edit-block {
    position: relative;
}

.flood-message__edit-options {
    border-radius: 4px;
    position: absolute;
    top: 24px;
    right: 0;
    background-color: #fffae1;
    border: 1px solid #db9110;
    width: 160px;
    padding: 2px 5px;
    text-align: center;
    z-index: 5;
}

.flood-message__edit-options p {
    margin: 3px 0;
    font-size: 0.85rem;
}

.flood-message__edit-options p:hover {
    background-color: #ffd895a8;
    border-radius: 5px;
}

.flood-message__edit {
    font-size: 0.84rem;
    opacity: 0.5;
}

.flood-message__edit:hover {
    /* color: #f30916; */
    opacity: 1;
}
