@media (min-width: 1280px) {
    .char-app__header-date {
        padding-top: 10px;
    }

    .chars-active__title,
    .chars-pending__title {
        width: 103.1%;
    }

    .char-app__profile-avatar img {
        max-width: 110px;
        max-height: 110px;
        border-radius: 63px;
        border: 1px dashed #c27608;
    }
}
