@media (min-width: 1280px) {
    .char-app__header-date {
        padding-top: 10px;
    }

    .chars-active__title,
    .chars-pending__title {
        width: 103.1%;
    }

    .char-app__profile-avatar img {
        max-width: 100px;
        max-height: 100px;
        border-radius: 63px;
        border: 1px dashed #c27608;
    }

    .char-info__wrapper {
        margin-top: 10px;
        width: 98%;
        /* border: unset; */
        /* background-color: unset; */
    }

    .char-info__epies {
        width: 95%;
        margin-top: 10px;
    }

    .char-info__btns {
        width: 90%;
        margin-bottom: 20px;
    }
}
