@media (min-width: 1280px) {
    header {
        display: none;
    }

    body {
        /* background: url("https://krot.info/uploads/posts/2021-01/1610148076_34-p-odnotonnii-nezhnii-bezhevii-fon-42.jpg")
            no-repeat center bottom / cover fixed; */
        /* https://cdn.pixabay.com/photo/2016/10/17/14/31/background-1747790_1280.jpg

        https://catherineasquithgallery.com/uploads/posts/2021-02/1613466106_18-p-fon-dlya-prezentatsii-sovremennii-stil-23.jpg

        https://phonoteka.org/uploads/posts/2021-06/1622844983_13-phonoteka_org-p-akvarel-tekstura-krasivo-19.jpg

        https://catherineasquithgallery.com/uploads/posts/2021-03/1614625681_2-p-foni-dlya-fotoshopa-teksturi-2.jpg*/

        background: url("../../images/bcgmain.jpg") no-repeat center bottom /
            cover fixed;
    }

    #root {
        /* width: 1170px;
        background-color: #fff9dcd1; */
        width: 1050px;
        background-color: #f8f4df;
        /* border-left: 5px solid #a03101;
        border-right: 5px solid #a03101; */
        border-right: 3px solid #92794a;
        border-left: 3px solid #92794a;
        border-bottom: 3px solid #92794a;
        margin-bottom: 30px;
        padding: 0 15px;
    }

    .wrapper {
        margin-top: 0;
        position: relative;
    }

    .extra {
        margin-top: -11px;
    }

    .navbar {
        display: flex;
        background-color: transparent;
        margin-right: -16px;
        margin-left: -16px;
        padding: 25px 15px 15px 15px;
        /* border-bottom: 1px solid #b83c10; */
        border-bottom: 2px solid #c5b696;
        border-top: 3px solid #92794a;
        margin-top: 25px;
    }

    .navbar-wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }
    .menu-link {
        width: 18%;
        position: initial;
        margin: 0 5px 10px;
        padding: 10px;
        display: flex;
        border-radius: 15px;
        justify-content: center;
        background: url("../../images/bcgNav.png") no-repeat center center /
            cover;
        border-radius: 15px;
        justify-content: center;
        font-size: 1.4rem;
    }

    textarea {
        border: 1px solid #885353;
        min-height: 220px;
    }

    .single-link {
        margin: -10px -16px 15px;
        border-bottom: 2px solid #c5b696;
    }
}
