@media (min-width: 1300px) {
    .slider {
        height: 220px;
    }

    .slider-main__image {
        max-width: 200px;
        max-height: 200px;
    }
    .slider-others {
        height: 200px;
    }
    .slider-others__image {
        max-width: 120px;
        max-height: 120px;
        margin: 5px 10px;
    }
}
