@media (min-width: 768px) {
    .chars-active {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    .chars-wrapper {
        width: 46%;
        margin-bottom: 25px;
    }

    .chars-pending {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .chars-active__title,
    .chars-pending__title {
        width: 103.2%;
    }

    .chars-pending__wrapper {
        width: 47%;
    }

    .char-app__profile span {
        margin-bottom: 3px;
    }

    .char-app__profile a {
        font-size: 1.2rem;
    }

    .char-app__profile-avatar img {
        max-width: 100px;
        max-height: 100px;
    }

    .char-app__text-time {
        font-size: 0.9rem;
    }
}

@media (min-width: 1024px) {
    .chars-wrapper {
        width: 32%;
        margin-bottom: 15px;
    }

    .chars-pending__wrapper {
        width: 31%;
    }
}
