@media (min-width: 768px) {
    .chars-active {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }

    .chars-wrapper {
        width: 46%;
        margin-bottom: 25px;
    }

    .chars-pending {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .chars-pending__title {
        width: 103.3%;
    }

    .chars-pending__wrapper {
        width: 47%;
    }
}

@media (min-width: 1024px) {
    .chars-wrapper {
        width: 32%;
        margin-bottom: 15px;
    }

    .chars-pending__wrapper {
        width: 31%;
    }
}
