@media (min-width: 768px) {
    .create-new-epi__character-desc > textarea {
        font-size: 1.1rem;
    }

    .create-new-epi__input {
        font-size: 1.2rem;
    }

    .create-char-name {
        display: flex;
        width: 95%;
        justify-content: center;
    }

    .create-char-name > span {
        margin-right: 4px;
    }
}
