.cards-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    margin: 0 auto;
}

.cards-common {
    width: 100%;
    border: 1px solid #994119;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    background-color: #fff2d5;
    margin: 10px auto;
    min-height: 89px;
}

.cards-common:hover {
    border: 2px solid #ca6d08;
    padding: 4px;
    background-color: #ffe3be;
}

.cards-common a {
    font-size: 1.3rem;
    color: #ff8c0e;
    text-shadow: 1px 1px 1px #000;
    font-family: "Satisfy", cursive;
}

.cards-common a:hover {
    color: #e40505;
}

.cards-common p {
    font-size: 1.2rem;
    margin: 10px 0 5px;
}

.cards-common span {
    color: red;
    font-weight: normal !important;
    font-family: "Amaranth", sans-serif;
}

.moder-grey {
    color: #a8a8a8;
}
