.chars-common,
.chars-active,
.chars-wrapper,
.chars-card,
.char__info,
.chars-pending {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    width: 100%;
}

.chars-active {
    margin: 0 auto 10px auto;
}

.chars-common > p:first-of-type {
    font-size: 1.15rem;
    color: #f82828;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000000;
    padding-bottom: 20px;
}

.chars-wrapper,
.chars-pending__wrapper {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    padding: 10px 8px;
    border-radius: 12px;
    width: 97%;
    /* background-color: #fff7ea; */
    /* background-color: #fcf3e6; */
    /* background-color: #fcdeb4; */
    /* background-color: #ffffdc; */
}

.chars-wrapper {
    margin: 0 auto 15px;
    background-color: #c2c0bc;
    border: 2px solid #c9700b;
}

.chars-wrapper:hover {
    /* background-color: #ffffdc; */
    background-color: #fcdeb4;
}

.chars-card {
    justify-content: center;
}

.char__info > p {
    padding-bottom: 7px;
    font-size: 1.2rem;
    font-family: system-ui;
    /* text-shadow: 1px 1px 3px #de7876f2; */
    color: #000000;
    text-shadow: 0px 1px 1px #000000f2;
}

.char__info > img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    border: 2px solid #c9700b;
    padding: 4px;
}

.chars-wrapper:hover img {
    /* background-color: #c2c0bc; */
    background-color: #f6de0d;
}

.chars-wrapper:hover .char__stats span {
    text-shadow: 1px 1px 3px #985304;
}

/* font-family: 'Amaranth', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Satisfy', cursive; */

.char__info > span {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    padding: 5px 0 10px;
    color: #000000;
    text-shadow: 0px 0px 1px #b30000f2;
}

.char__stats {
    text-align: center;
    margin-bottom: 8px;
}

.chars {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: -10px 0 10px;
}

.chars-pending {
    justify-content: center;
    text-align: center;
}

.chars-pending__title {
    width: 107%;
    text-align: center;
    display: flex;
    background-color: #faf0b3;
    justify-content: center;
    padding-top: 15px;
    margin-bottom: 15px;
}

.chars-pending__title p {
    font-size: 1rem;
    color: #520505;
    font-weight: bold;
    padding-bottom: 20px;
}

.chars-pending__wrapper {
    border: 2px solid #da8524;
    background-color: #fff3db;
    margin: 0 10px 15px 10px;
    flex-direction: column;
}

.chars-pending__wrapper:hover {
    background-color: #fffbd9;
    border: 2px solid #bb2626;
}

.chars-pending__wrapper p {
    margin-top: 10px;
}

.chars-pending__wrapper span {
    margin-right: 3px;
    color: #ad1414;
    font-weight: bold;
}

.chars-pending__wrapper a:hover {
    color: #f7af43;
    text-shadow: 1px 1px 1px #000;
}
