.char-app__common-wrapper {
    width: 95%;
    margin: 0 auto;
}

.char-app__name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ca0c08;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 5px;
}

.char-app__name > span {
    font-weight: normal;
    color: #f6be6d;
    text-shadow: 1px 0px 1px #160c02;
    font-family: "Amaranth", sans-serif;
    /* font-family: "Josefin Sans", sans-serif; */
}

.char-app__wrapper,
.char-app__send-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
}

.char-app__wrapper {
    background-color: #f9f1dd;
    border: 1px solid #d2c3c3;
    border-radius: 6px;
    padding: 0 10px;
}

.char-app__avatar {
    margin-bottom: 15px;
}

.char-app__avatar > img {
    max-width: 200px;
    max-height: 200px;
    /* border: 1px dashed #917466;
    border-radius: 6px; */
    border: 5px inset #e9d6cd;
    border-radius: 6px;
}

.char-app__header {
    width: 100%;
    text-align: center;
}

.char-app__header-date {
    padding-bottom: 10px;
}

.char__stats > p {
    margin-bottom: 10px;
}

.char__stats span {
    color: #fff;
    font-weight: bold;
    text-shadow: 0px 1px 2px #000;
}

.char-app-edit__btns {
    display: flex;
    margin: 11px auto;
    justify-content: space-between;
    align-items: center;
    align-content: flex-start;
}

.char-app-edit__user {
    display: flex;
    width: 80px;
    font-size: 1.5rem;
    align-items: center;
    justify-content: space-between;
    margin-top: 9px;
}

.char-app__send-form {
    flex-wrap: nowrap;
    margin-top: 50px;
}

.char-app__send-form > p {
    background-color: #ffe3b2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 3px 0;
}

.char-app__comments {
    margin-top: 100px;
    background-color: #faf0b3;
    padding: 8px 0;
    text-align: center;
    border-radius: 7px;
}

.char-app__comments p {
    color: #640404;
    text-shadow: 0px 0px 1px #000;
}

.char-app__comments-wrapper,
.char__comment,
.char-app__message {
    display: flex;
    flex-wrap: nowrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.char-app__comments-wrapper {
    flex-direction: column;
}

.char__comment {
    flex-direction: row;
}

.char-app__message {
    flex-direction: row;
    margin: 0 0 10px;
    align-items: baseline;
    padding-bottom: 10px;
    border-bottom: 1px solid #d9c3bf;
}

.char-app__message:first-child {
    margin-top: 10px;
}

.char-app__text,
.char-app__profile {
    display: flex;
    flex-direction: column;
}

.char-app__profile {
    align-items: center;
    align-content: flex-start;
    flex-wrap: nowrap;
    margin-right: 10px;
}

.char-app__profile a:hover {
    color: #ffaaaa;
    text-shadow: 1px 1px 1px #000;
}

.char-app__profile-avatar img {
    border-radius: 10px;
    max-width: 85px;
    max-height: 85px;
    border: 1px dashed #c27608;
}

.char-app__text {
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.char-app__top-line {
    color: #211e05;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.char-app__text-time {
    margin-bottom: 5px;
    text-shadow: 1px 1px 1px #ff9800;
    font-size: 0.8rem;
}

.char-app__text-content {
    background-color: #fff7ec;
    border-radius: 0 8px 8px 8px;
    width: 100%;
    border: 1px solid #d4c9c9;
    padding: 5px 8px;
    color: #2e0202;
}
