.create-char-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 95%;
    margin: 0 auto;
}

.create-char-name {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ca0c08;
    margin-bottom: 10px;
    text-align: center;
}

.create-char-name > span {
    font-weight: normal;
    color: #d28d27;
}

.create-char-avatar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

.create-char-avatar > img {
    max-width: 200px;
    max-height: 200px;
}

.create-char-desc {
    text-align: justify;
    width: inherit;
}

.create-char-desc p {
    margin-bottom: 11px;
    line-height: 1.1rem;
    font-size: 1.1rem;
    text-indent: 20px;
}

.create-char-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 10px 0;
    border-bottom: #ca0c08;
}
