body {
    background-color: #fffdbc38;
    width: 100%;
}

#root {
    box-sizing: border-box;
    width: auto;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 10px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    marker: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #df8807;
}

a:hover {
    color: #bc1515;
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.wrapper {
    margin-top: 57px;
    padding-top: 18px;
}

.extra {
    margin-top: -18px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
    padding-left: 0;
    text-align: center;
}

.breadcrumb-item {
    padding: 0 5px;
}

.breadcrumb-item:last-child {
    padding-right: 0;
}

.arrows-wrapper {
    position: fixed;
    top: 13px;
    right: 10px;
    z-index: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-size: 1.6rem;
}

.main-page__arrow {
    display: none;
}
