body {
    background-color: #fffdbc38;
    width: 100%;
}

#root {
    width: auto;
    height: 100%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 0px 12px;
    word-wrap: break-word;
    margin-bottom: 20px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    list-style-type: none;
    marker: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    font-weight: 600;
    color: #df8807;
    outline-color: #bd4305;
    padding: 2px;
}

a:hover {
    /* color: #bc1515; */
    color: #d11313;
    text-shadow: 1px 1px 1px #000;
    /* text-shadow: 1px 1px 1px #ffd155; */
}

img {
    max-width: 100%;
}

button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.wrapper {
    margin-top: 57px;
    padding-top: 14px;
}

.extra {
    margin: -14px -12px 0 -12px;
    border-bottom: 1px solid #b83c10;
}

.hr-underline {
    margin: 10px -12px;
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    font-size: 0.9rem;
    justify-content: center;
    padding-left: 0;
    text-align: center;
}

.breadcrumb-item {
    padding: 0 5px;
}

.breadcrumb-item:last-child {
    padding-right: 0;
}

.arrows-wrapper {
    position: fixed;
    top: 13px;
    right: 11px;
    z-index: 2;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 80px;
    font-size: 1.6rem;
}

.main-page__arrow {
    display: none;
}

input {
    width: 100%;
    border-radius: 5px;
    text-align: center;
    outline: 0;
    border: 1px solid #cccccc;
}

input:focus-visible {
    border: 1px solid orange;
    box-shadow: 0 0 0 1px orange;
}

textarea {
    width: 100%;
    resize: vertical;
    padding: 8px 10px;
    font-family: "AnelizaRegular";
    font-weight: normal;
    font-style: normal;
    outline: 0;
    border-radius: 5px;
    min-height: 250px;
    border: 1px solid #cccccc;
}

textarea:focus-visible {
    border: 1px solid orange;
    box-shadow: 0 0 0 1px orange;
}

/* textarea::-webkit-resizer {
    border: 3px solid #d32b2b;
    background: #a25006;
    outline: 6px solid #fce266;
} */

.single-link {
    justify-content: center !important;
    border-bottom: 1px solid #b83c10;
    margin: -10px -12px 15px;
}

.moder-edit-btn {
    font-size: 1.6rem !important;
}

.footer {
    margin-top: 30px;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 10px;
    border-top: 2px solid #e4e1db;
    padding-top: 10px;
}

.footer span {
    font-weight: bold;
    text-shadow: 1px 0px 1px #ffc200;
}

.footer span a {
    color: #520505;
}

.footer span a:hover {
    color: #d11313;
    text-shadow: 1px 1px 1px #e2bb03;
}

.not-found {
    margin: 10px auto 20px;
}
