.editor-line,
.editor-line__flood {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    border: 1px solid #e4e4e3;
    padding: 4px 6px;
    border-radius: 5px;
    background-color: #fff5e8;
}

.editor-line {
    margin-top: 5px;
}

.editor-line__flood {
    margin-bottom: 11px;
}

.edit-msg {
    width: 97%;
    margin: 25px auto 0;
}
