.main-new__wrapper {
    border-top: 2px solid #dcd3cb;
    width: 100%;
    margin-top: 15px;
}

.main-new__news,
.main-new__no-news {
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
}

.main-new__news-common {
    padding: 7px 5px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid #c99e6c;
    border-radius: 7px;
    text-align: center;
    background-color: antiquewhite;
}

.main-new__news-title {
    font-weight: bold;
    font-family: Amaranth, sans-serif;
    margin-bottom: 3px;
    margin-top: 0px;
    font-size: 1.25rem;
    text-shadow: 0px 0px 2px #ffd406;
    color: #a02318;
}

.main-new__news-date {
    border-bottom: 2px solid #e1d09b;
    color: #78553c;
    font-size: 0.9rem;
    font-weight: 700;
    margin: 0 -5px 8px;
    padding-bottom: 4px;
    width: 103%;
}

.main-new__news-content {
    line-height: 1.1;
    margin-bottom: 5px;
    margin-top: 4px;
}

.main-new__news-btn {
    font-size: 0.95rem;
    padding: 5px 6px;
    min-width: 110px;
    height: 34px;
    margin-bottom: 5px;
    margin-top: 13px;
}

.main-new__news-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.main-new__episodes,
.main-new__no-episodes {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-start;
}

.main-new__show-btn {
    display: flex;
    width: 100%;
    margin-bottom: 3px;
    justify-content: center;
}

.main-new__no-news > p,
.main-new__no-episodes > p {
    color: #81590f;
    text-shadow: unset;
    font-size: 1rem;
    background-color: #f2e9d8;
    width: 100%;
    padding: 5px 0 5px 8px;
    font-weight: 600;
    margin-bottom: 5px;
    border-radius: 4px;
    border: 2px solid #cfbb9a;
    text-align: center;
}

.main-new__news > p,
.main-new__episodes > p {
    color: #894510;
    /* text-shadow: 1px 1px 1px #ff9696; */
    font-size: 1.2rem;
    background-color: #fcfbc7;
    width: 100%;
    padding: 5px 0 5px 8px;
    font-weight: 600;
    margin: 15px 0px 5px;
    border-radius: 4px;
    border: 2px solid #894510;
    text-align: center;
}

.main-new__episodes-list {
    margin-left: 30px;
}

.main-new__episodes-list li {
    list-style-type: disclosure-closed;
    margin-bottom: 8px;
}

.main-new__episodes-list li:last-of-type {
    margin-bottom: 0;
}

.main-new__episodes-list li span {
    font-weight: bold;
    color: #501414;
}
