@media (min-width: 768px) {
    .editor-line,
    .editor-line__flood {
        justify-content: flex-start;
    }

    textarea::-webkit-scrollbar {
        width: 11px;
    }

    textarea::-webkit-scrollbar-track {
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #fffdde;
        border-top-right-radius: 5px;
    }

    textarea::-webkit-scrollbar-thumb {
        border-top-right-radius: 5px;
        background-color: #f2bf93;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    }
}
