@media (min-width: 768px) {
    .sepi-post-avatar > img {
        max-width: 150px;
        max-height: 150px;
    }

    .sepi-post-title__number {
        margin-left: 10px;
        color: #b40505;
        font-size: 0.9rem;
    }

    .epi-user-info {
        width: 300px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .epi-user-info__avatar {
        display: flex;
    }
    .epi-user-info__avatar > img {
        border-radius: 20px;
        max-width: 80px;
        max-height: 80px;
        cursor: pointer;
        filter: grayscale(60%);
    }

    .epi-user-info__avatar > img:hover {
        filter: grayscale(0);
        /* box-shadow: -1px 0px 3px #990a00; */
        border: 2px solid #f6a500;
    }

    .epi-text-info {
        width: 51%;
    }

    .send-post-form__btns {
        justify-content: space-evenly;
        width: 55%;
    }

    .send-post-form__btns > button {
        margin-right: 0;
    }

    .sepi-post-post__content > p {
        margin-bottom: 15px;
        line-height: 1.2;
    }

    .send-post-form__text::-webkit-scrollbar {
        width: 10px;
    }

    .send-post-form__text::-webkit-scrollbar-track {
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #fffdde;
        border-top-right-radius: 5px;
    }

    .send-post-form__text::-webkit-scrollbar-thumb {
        border-top-right-radius: 5px;
        background-color: #f2bf93;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    }
}
