@media (min-width: 768px) {
    .sepi-post-avatar > img {
        max-width: 150px;
        max-height: 150px;
    }

    .sepi-post-title {
        font-size: 0.85rem;
    }
    .sepi-post-title__author {
        font-size: 0.9rem;
    }

    .sepi-post-title__number {
        margin-left: 10px;
        color: #b40505;
        font-size: 0.9rem;
    }

    .epi-wrapper {
        padding: 9px 7px 5px 9px;
    }

    .epi-user-info {
        width: 300px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .epi-user-info__avatar {
        display: flex;
    }
    .epi-user-info__avatar > img {
        border-radius: 20px;
        max-width: 80px;
        max-height: 80px;
        cursor: pointer;
        filter: grayscale(60%);
    }

    .epi-user-info__avatar > img:hover {
        filter: grayscale(0);
        /* box-shadow: -1px 0px 3px #990a00; */
        border: 2px solid #f6a500;
    }

    .epi-text-info {
        max-width: 51%;
    }

    .send-post-form__btns {
        justify-content: space-evenly;
        width: 55%;
    }

    .send-post-form__btns > button {
        margin-right: 0;
    }

    .sepi-post-post__content > p {
        margin-bottom: 15px;
        line-height: 1.2;
    }
}
