@media (min-width: 768px) {
    .sepi-post-avatar > img {
        max-width: 150px;
        max-height: 150px;
    }

    .epi-user-info {
        width: 295px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    .epi-user-info__avatar {
        display: flex;
    }
    .epi-user-info__avatar > img {
        border-radius: 20px;
        max-width: 80px;
        max-height: 80px;
        cursor: pointer;
    }

    .send-post-form__btns {
        justify-content: space-evenly;
        width: 55%;
    }

    .send-post-form__btns > button {
        margin-right: 0;
    }
}
