@media (min-width: 768px) {
    .flood-name__wrapper {
        border-bottom: 1px solid #b83c10;
    }

    .flood-message__profile,
    .flood-message__profile-owner {
        width: 90px;
        text-align: center;
    }

    .flood-message__profile-avatar,
    .flood-message__profile-avatar > img {
        max-width: 85px;
        max-height: 85px;
    }

    .flood-message__profile a,
    .flood-message__profile-owner a {
        font-size: 1.2rem;
    }

    .flood-message__text-content {
        font-size: 1.1rem;
    }

    .flood-message__profile span,
    .flood-message__profile-owner span {
        margin-bottom: 3px;
    }

    .flood-message__profile-avatar {
        margin-top: 2px;
    }

    .flood-message__profile-avatar > img {
        border-radius: 50px;
    }

    .flood-message__text-time {
        font-size: 0.9rem;
    }

    .flood-rcvd-msg {
        width: 95%;
    }
}
