@media (min-width: 768px) {
    .flood-name__wrapper {
        border-bottom: 1px solid #b83c10;
    }

    .flood-message__profile,
    .flood-message__profile-owner {
        width: 90px;
        text-align: center;
    }

    .flood-message__profile-avatar,
    .flood-message__profile-avatar > img {
        max-width: 85px;
        max-height: 85px;
    }

    .flood-message__profile-avatar > img {
        border-radius: 50px;
        border: 1px solid#c27608;
    }

    .flood-rcvd-msg {
        width: 95%;
    }
}
