@media (min-width: 768px) {
    .main-new__wrapper {
        display: flex;
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: nowrap;
        align-content: flex-start;
        justify-content: flex-start;
    }

    .main-new__news {
        margin-right: 25px;
    }

    .main-new__no-news {
        margin-top: unset;
    }

    .main-new__news-title {
        margin-top: -6.5px !important;
    }

    /* .main-new__news,
    .main-new__episodes,
    .main-new__no-episodes {
        width: 48%;
    } */

    .main-new__episodes > p,
    .main-new__no-episodes > p {
        width: 96%;
        margin-top: 15px;
    }

    .main-new__show-btn {
        display: flex;
        width: 100%;
        justify-content: center;
    }
}

@media (min-width: 1024px) {
    .main-new__show-btn {
        width: 95%;
    }

    .main-new__news {
        width: 90%;
        margin: 0 auto;
    }

    .main-new__news-date {
        width: 102.8% !important;
        margin: 0px -6px 8px !important;
    }

    .main-new__news-title {
        margin-top: 0px !important;
    }

    .main-new__no-episodes > p {
        width: 90%;
        margin: 15px auto 0;
    }
}

@media (min-width: 1280px) {
    .main-new__news {
        width: 86%;
    }

    .main-new__episodes > p,
    .main-new__no-episodes > p {
        width: 71%;
    }

    .main-new__news-wrapper,
    .main-new__episodes,
    .main-new__no-news,
    .main-new__no-episodes {
        margin-top: 15px;
    }

    .main-new__news-common {
        padding: 7px 10px;
    }

    .main-new__wrapper {
        margin-top: 26px;
        margin-bottom: 20px;
    }

    .main-new__news-date {
        width: 105% !important;
        margin: 0px -10px 8px !important;
    }

    .main-new__show-btn {
        width: 69%;
    }
}
