@media (min-width: 768px) {
    .epi-modal {
        height: 430px;
        left: 20%;
        width: 500px;
    }

    .modal-img__image {
        max-height: 250px;
    }

    .modal-members {
        font-size: 0.9rem;
    }

    .modal-desc {
        font-size: 0.9rem;
    }
    .modal-members > span,
    .modal-desc > span {
        font-size: 0.8rem;
    }
}
