@media (min-width: 768px) {
    .epi-modal {
        height: 430px;
        left: 19%;
        width: 500px;
        top: 133px;
    }

    .epi-modal-content::-webkit-scrollbar {
        width: 7px;
    }

    .epi-modal-content::-webkit-scrollbar-track {
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #fffdde;
        border-radius: 10px;
    }

    .epi-modal-content::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #f2bf93;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    }

    .epi-modal-img__image {
        max-height: 250px;
    }

    .epi-modal-members {
        font-size: 0.9rem;
    }

    .epi-modal-desc {
        font-size: 0.9rem;
    }
    .epi-modal-members > span,
    .epi-modal-desc > span {
        font-size: 0.8rem;
    }
}

@media (min-width: 1024px) {
    .epi-modal {
        left: 27%;
    }
}
