@media (min-width: 768px) {
    .slider {
        height: 180px;
    }

    .slider-others {
        justify-content: space-around;
        height: 170px;
        width: 50%;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        margin: 0 10px;
        position: relative;
    }
    .slider-others > p {
        position: absolute;
        top: 0;
    }
    .slider-others::-webkit-scrollbar {
        width: 0px;
    }
    .slider-others__image {
        max-width: 100px;
        max-height: 100px;
        margin: 10px;
    }

    .slider-others__image:last-child {
        margin-bottom: 8px;
    }

    .hr-line {
        width: 50%;
        border: none;
        border-top: 2px solid #d1c5a7;
    }
}
