@media (min-width: 1280px) {
    .flood-name__wrapper {
        border-bottom: 2px solid #cabc9d;
        margin: -15px -16px 15px -16px;
    }

    .flood-wrapper__send-msg {
        font-size: 1rem;
        margin-bottom: 10px;
        width: 96%;
        min-height: 230px;
        background-color: #fffaf1;
    }
    .flood-wrapper__send > p {
        width: 96%;
    }

    .flood-message__profile-avatar {
        max-width: 100px;
        max-height: 100px;
    }
    .flood-message__profile-avatar > img {
        max-width: 100px;
        max-height: 100px;
    }

    .flood-message__profile-owner,
    .flood-message__profile {
        width: 100px;
    }

    .flood-message__text-content p {
        line-height: 1.2;
    }
}
