@media (min-width: 768px) {
    .org-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        align-content: center;
        align-items: flex-start;
        width: 100%;
    }

    .org-common {
        width: 47%;
        margin: 0 10px 15px;
    }
}

@media (min-width: 1024px) {
    .org-common {
        width: 31%;
    }

    .org-wrapper {
        margin-top: 30px;
    }
}
