.login-wrapper {
    margin: 10px;
}

.login {
    width: 100%;
    padding-top: 5px;
}

.login-input {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.login-input > label {
    font-size: 1.3rem;
}

.login-input > input {
    border: 1px solid #99220b;
    font-size: 1.3rem;
    margin-top: 3px;
    position: relative;
    padding: 7px 5px;
    color: #99220b;
    width: 100%;
}

.login-input-pass {
    position: relative;
}

.login-input-pass > button,
.login-input-pass button {
    position: absolute;
    top: 44px;
    right: 6px;
}

.login-error {
    font-size: 1.2rem;
    color: #db0f0f;
    padding-bottom: 5px;
    text-align: center;
}

.login-error > p {
    padding: 5px 0;
}

.login-pass {
    cursor: pointer;
    color: #df8807;
    margin: 5px 0;
}

.login-pass:hover {
    text-decoration: underline;
    color: #c53a0e;
}

.login-input > input::-webkit-input-placeholder {
    color: #b1a2a1;
    font-size: 1rem;
}
