.epi-modal {
    height: 422px;
    position: absolute;
    top: 99px;
    width: 100%;
    left: 0;
    right: 0;
    background-color: rgb(251, 201, 114);
    padding: 10px;
    text-align: center;
    display: block;
    overflow: auto;
}

/* .modal-open {
    overflow: initial !important;
} */

.epi-modal-content {
    background-color: #faf7d196;
    padding: 5px;
    margin: 10px 0;
    border-radius: 5px;
    max-height: 360px;
    height: auto;
    min-height: 170px;
    overflow-y: scroll;
}

.epi-modal-footer {
    left: 10px;
    position: absolute;
    bottom: 4px;
}

.epi-modal-body {
    margin-top: 7px;
}

.epi-modal-members {
    font-size: 0.8rem;
    margin: 5px 0 7px;
}

.epi-modal-members > span,
.epi-modal-desc > span {
    font-size: 0.9rem;
    color: #c84f0a;
    font-weight: 600;
}

.epi-modal-desc {
    font-size: 0.9rem;
    /* letter-spacing: -0.1px; */
    text-align: justify;
}

.epi-modal-desc > span + p {
    display: inline;
}

.epi-modal-desc > span ~ p {
    text-indent: 15px;
    margin-top: 1px;
}

.epi-modal-img__image {
    max-height: 150px;
    height: auto;
    border-color: blanchedalmond;
    border-radius: 7px;
    border: 1px solid #df930e;
}
