.send-post-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.send-post-form > p {
    background-color: #ffe3b2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 3px 0 -3px 0;
}

.send-post-form__text {
    width: 94%;
    resize: vertical;
    min-height: 180px;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    border-color: #8a0b0a;
    /* border: 1px solid #cccccc; */
    outline: 0;
    background-color: #fffef6;
    font-family: "AnelizaRegular";
}

.send-post-form__text:focus-visible {
    border: 1px solid orange;
    box-shadow: 0 0 0 1px orange;
}

.send-post-form__btns {
    display: flex;
    justify-content: space-around;
    width: 65%;
    margin: 0 0 10px;
}
