.send-post-form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.send-post-form > p {
    background-color: #ffe3b2;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    margin: 3px 0;
}

.send-post-form__text {
    min-height: 180px;
    font-size: 1.1rem;
    margin: 10px 0;
    border-color: #8a0b0a;
    background-color: #fffffc;
    border: 1px solid #cccccc;
}

.send-post-form__btns {
    display: flex;
    justify-content: center;
    margin: 0 auto 10px auto;
}

.send-post-form__btns > button {
    margin-right: 20px;
}

.send-post-form__btns > button:last-child {
    margin-right: 0;
}
