@import "./mainScreen/index.css";
@import "./width768/index.css";
@import "./width1440/index.css";
@import "./restScreens/index.css";

* {
    box-sizing: border-box;
}

html,
body {
    font-family: "AnelizaRegular" !important;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
}
