@import "./mainScreen/index.css";
@import "./width1440/index.css";

html,
body {
    box-sizing: border-box;
    font-family: "AnelizaRegular";
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #000;
    line-height: 1.2;
    margin: 0 auto;
    padding: 0;
}
