.epi-wrapper {
    margin: 15px 0;
    border: 1px solid #e3a714;
    padding: 10px 5px 3px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.epi-wrapper__desk {
    display: none;
}

.epi-text-info {
    margin-right: 10px;
}

.epi-user-info {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.epi-user-info > p {
    text-align: right;
}

.epi-user-info__avatar {
    display: none;
}

.epi-title {
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
}

.epi-fandom {
    color: #e01b1b;
    font-size: 1rem;
    font-weight: 600;
}

.epi-name {
    font-size: 1rem;
}

.epi-name:hover {
    text-shadow: 0px 0px 20px #e75d0b;
}

.epi-extra {
    width: auto;
    padding-top: 5px;
    font-size: 0.7rem;
    color: #edb24c;
    text-shadow: 0px 0px 2px #bca16d;
}

.epi-extra:hover {
    color: red;
}

.epi-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
