.epi-wrapper {
    margin: 15px 0;
    border: 1px solid #e3a714;
    padding: 9px 9px 5px 9px;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 0 1px #473917;
    background-color: #fffce0;
}

.epi-wrapper:hover {
    box-shadow: 0 0 4px #ffb000;
}

/* .epi-wrapper__desk {
    display: none;
} */

.epi-text-info {
    margin-right: 10px;
    width: 78%;
}

.epi-text-info a:hover span {
    color: #b71818;
    text-shadow: 1px 1px 1px #000;
}

.epi-user-info {
    width: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

.epi-user-info > p {
    text-align: right;
}

.epi-user-info a {
    color: #000;
    font-weight: 400;
    margin-bottom: -2px;
    text-shadow: 0px 0px 1px #cb3232;
}

.epi-user-info a:hover {
    color: #c22525;
    font-weight: 600;
    text-shadow: 1px 1px 1px #000;
}

.epi-user-info__avatar {
    display: none;
}

.epi-title {
    cursor: pointer;
    display: block;
    margin-bottom: 6px;
}

.epi-fandom {
    color: #e01b1b;
    font-size: 1rem;
    font-weight: 600;
}

.epi-name {
    font-size: 1rem;
}

.epi-extra {
    width: auto;
    padding-top: 5px;
    font-size: 0.7rem;
    color: #edb24c;
    text-shadow: 0px 0px 2px #bca16d;
}

.epi-extra:hover {
    color: red;
}

.epi-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.epi-search {
    margin-top: 17px;
    position: relative;
}

.epi-search__input {
    border-radius: 20px;
    min-height: 40px;
    padding: 7px 37px;
    font-size: 1.2rem;
    color: #770505;
}

.epi-search__input::-webkit-input-placeholder {
    color: #b1a2a1;
    font-size: 1rem;
}

.epi-search__btn-search {
    position: absolute;
    top: 14px;
    font-size: 0.9rem;
    left: 15px;
    color: #772d09;
}

.epi-search__btn-close {
    position: absolute;
    right: 11px;
    font-size: 1.2rem;
    top: 8.5px;
    color: #644207;
    height: 23px;
}

.epi-search__btn-close:hover {
    color: red;
}
