.sepi-bread-header {
    margin-bottom: 10px;
}

.sepi-wrapper {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sepi-header-title {
    width: 100%;
    text-align: center;
}

.sepi-header-title p {
    padding-bottom: 10px;
    border-bottom: 1px solid #b83c10;
    margin: 0 -12px;
}

/* .sepi-header-title__author {
    font-weight: 600;
    color: #a46b09;
} */

.sepi-header-desc {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 15px 0 7px;
    width: 100%;
    padding: 0 5px;
}

.sepi-header-desc__title {
    margin-bottom: 5px;
    text-align: center;
}

.sepi-header-desc__subtitle {
    text-align: justify;
    margin-bottom: 15px;
}

.sepi-header-desc__subtitle > p {
    text-indent: 20px;
    margin-bottom: 3px;
}

.sepi-header-desc__subtitle > p:last-child {
    margin-bottom: 0;
}

.sepi-header-desc__image {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.sepi-header-desc__image > img {
    border-radius: 5px;
    max-height: 300px;
}

.sepi-header-desc__members {
    margin-bottom: 10px;
    font-weight: 600;
    color: #d68700;
}

.sepi-header-desc__items {
    align-self: flex-end;
}

.sepi-header-desc__items-trash,
.sepi-header-desc__items-edit {
    color: #90723d;
}

.sepi-header-desc__items-trash:hover,
.sepi-header-desc__items-edit:hover {
    color: #f2211c;
}

.sepi-header-desc__items-like {
    color: #c00a0a;
}
.sepi-header-desc__items-like:hover {
    color: red;
}

.sepi-header-desc__items > span {
    font-size: 1.2rem;
    margin-left: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.sepi-post-wrapper {
    padding: 0 5px;
}

.sepi-post-title {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 0.8rem;
    margin: 0 -10px;
}

.sepi-post-title__date {
    text-align: right;
}

.sepi-post-title__number {
    color: #b40505;
    margin-left: 3px;
    font-size: 0.8rem;
}

.sepi-post-title__author {
    font-size: 0.83rem;
}

.sepi-post-post {
    margin: 10px 0 5px;
    min-height: 110px;
    position: relative;
}

.sepi-post-avatar {
    margin: 0 15px 5px 0;
    float: left;
    cursor: pointer;
    display: flex;
    align-content: center;
    align-items: center;
}

.sepi-post-avatar > img {
    /* max-height: 100px; */
    max-width: 100px;
    border: 2px solid #e2950c;
    border-radius: 5px;
}

.sepi-post-post__content {
    text-align: justify;
    font-size: 1.03rem;
}

.sepi-post-post__content > p {
    /* text-indent: 20px; */
    margin-bottom: 10px;
    line-height: 1.15;
}

/* .sepi-post-post__content > p:first-child {
    text-indent: 0;
} */

/* .sepi-post-post__content > p:last-child {
    margin-bottom: 0;
} */

.sepi-post-post__btns {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 20px;
}
