@media (min-width: 1280px) {
    .send-post-form__text {
        min-height: 220px;
        font-size: 1.15rem;
    }

    .send-post-form__btns {
        justify-content: space-evenly;
        width: 35%;
    }
}
