@media (min-width: 1280px) {
    .sepi-post-avatar > img {
        max-width: 180px;
        max-height: 180px;
        width: auto;
    }

    .sepi-header-title p {
        border-bottom: 2px solid #c5b696;
        margin: 0 -16px;
    }

    .sepi-post-post {
        min-height: 205px;
        margin-bottom: 30px;
    }

    .epi-text-info {
        width: 64%;
    }

    .sepi-post-title {
        font-size: 0.9rem;
    }

    .sepi-post-title__author {
        font-size: 0.95rem;
    }
}
