@media (min-width: 1280px) {
    .epi-wrapper__desk {
        display: none;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        width: 23%;
        height: 350px;
        overflow-y: auto;
        align-items: center;
        margin: 10px;
    }

    .epi-card__common {
        width: 100%;
        padding: 5px;
    }

    .epi-card__image {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .epi-card__image > img {
        max-width: 140px;
        border-radius: 20px;
    }

    .epi-search {
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }

    .epi-search__input {
        background-color: #fff5e5;
        font-size: 1.1rem;
    }

    .epi-search__input::-webkit-input-placeholder {
        color: rgb(114, 98, 98);
        font-size: 1rem;
    }
}
