@media (min-width: 1440px) {
    .sepi-post-avatar {
        max-width: 200px;
        max-height: 200px;
        width: auto;
    }

    .sepi-post-post {
        min-height: 205px;
        margin-bottom: 30px;
    }
}
