@media (min-width: 768px) {
    .flood-chats-list-wrapper {
        width: 60%;
    }

    .flood-name__wrapper {
        border-bottom: 1px solid #b83c10;
    }

    .flood-message {
        margin: 10px 0 20px;
    }

    .flood-message__top-line {
        align-items: flex-end;
        margin-bottom: 4px;
    }

    .flood-message__profile,
    .flood-message__profile-owner {
        width: 100px;
        text-align: center;
    }

    .flood-message__profile-avatar,
    .flood-message__profile-avatar > img {
        max-width: 85px;
        max-height: 85px;
    }

    .flood-message__profile a,
    .flood-message__profile-owner a {
        font-size: 1.2rem;
    }

    .flood-message__text-content {
        font-size: 1.1rem;
    }

    .flood-message__text-content p {
        margin-bottom: 13px;
        line-height: normal;
    }

    .flood-message__profile span,
    .flood-message__profile-owner span {
        margin-bottom: 3px;
    }

    .flood-message__profile-avatar {
        margin-top: 2px;
    }

    .flood-message__profile-avatar > img {
        border-radius: 50px;
    }

    .flood-message__text-time {
        font-size: 0.9rem;
    }

    .flood-rcvd-msg {
        width: 95%;
    }

    /* .flood-message__edit-block {
        display: none;
    } */

    .flood-message__edit-desktop,
    .flood-message__edit-desktop-owner {
        display: flex;
        justify-content: space-between;
        margin: 4px 0;
        flex-direction: row;
        align-content: flex-end;
        align-items: flex-end;
    }

    .flood-message__edit-desktop > .btns-editor,
    .flood-message__edit-desktop-owner > .btns-editor {
        width: 35px !important;
        height: 35px !important;
    }

    .flood-message__edit-desktop {
        width: 6%;
        font-size: 1.3rem;
    }

    .flood-message__edit-desktop-owner {
        width: 20%;
        font-size: 1.2rem;
    }

    .flood-chats-list-common::-webkit-scrollbar,
    .flood-chats-list-wrapper::-webkit-scrollbar {
        width: 7px;
    }

    .flood-chats-list-common::-webkit-scrollbar-track,
    .flood-chats-list-wrapper::-webkit-scrollbar-track {
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
        background-color: #fffdde;
        border-radius: 10px;
    }

    .flood-chats-list-common::-webkit-scrollbar-thumb,
    .flood-chats-list-wrapper::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: #f2bf93;
        background-image: -webkit-linear-gradient(
            45deg,
            rgba(255, 255, 255, 0.25) 25%,
            transparent 25%,
            transparent 50%,
            rgba(255, 255, 255, 0.25) 50%,
            rgba(255, 255, 255, 0.25) 75%,
            transparent 75%,
            transparent
        );
    }
}

@media (min-width: 1024px) {
    .flood-chats-list-wrapper {
        width: 50%;
    }
}
