.btns {
    text-align: center;
    margin: 5px 0;
    min-width: 64px;
    width: auto;
    outline: none;
    /* outline-color: #bd4305; */
    background-color: #faf4bf;
    border: 1px solid #d29832;
    transition: 0.3s linear;
    box-shadow: 2px 2px 0px rgb(245 171 72 / 54%);
    padding: 5px;
    border-radius: 5px;
    color: #9a6111;
}

.btns:disabled {
    background-color: #b1aba4;
}

.btns-common {
    font-size: 0.7rem;
    margin-right: 10px;
}

.btns-common > a {
    color: #000;
}

.btns-common > a:hover {
    color: #fff;
}

.btns:focus {
    background-color: #faf4bf;
    border: 1px solid #d29832;
    transition: 0.3s linear;
    box-shadow: 2px 2px 0px rgb(245 171 72 / 54%);
    color: #9a6111;
}

.btns:hover:not(.btns:disabled, .btns:focus),
.btns:active:not(.btns:focus, .btns:disabled) {
    /* border: 1px solid #ea6e14;
    box-shadow: 3px 3px 6px rgb(171 55 11 / 74%),
        -1px -1px 1px rgb(236 89 15 / 84%); */
    border: 1px solid #ea6e14;
    box-shadow: 2px 2px 2px #5a210bbd, -1px -1px 1px rgb(236 89 15 / 84%);
}

.btns:hover:not(.btns:disabled, .btns:focus) {
    /* background-color: #ff5722;
    color: #fff; */
    background-color: #fe9775;
    color: #fdfdfd;
    text-shadow: 1px 1px 2px #2f0000;
}

.btns-log {
    width: 100%;
    font-size: 1.2rem;
}

.btns-log__flood {
    width: 98%;
}

.btns-create {
    font-size: 1.2rem;
    padding: 5px 13px;
}

.btns-send {
    font-size: 1.1rem;
    min-width: 120px;
}

.btns-load {
    font-size: 0.8rem;
    padding: 5px 6px;
}

.btns-show-pass {
    font-size: 1.3rem;
    min-width: initial;
    height: 24px;
    box-shadow: none;
    background-color: transparent;
    border: none;
    color: #9a6111;
    outline: none;
}

.btns-char {
    width: 38%;
    min-width: 91px;
    font-size: 0.8rem;
}

.btns-editor {
    font-size: 2rem;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    align-items: center;
    min-width: unset;
    margin-left: 10px;
}

.btns-editor:first-child {
    margin-left: 0;
}

.btns-flood {
    width: 40px;
    height: 38px;
    font-size: 1.3em;
    min-width: unset;
}

.btns-approve {
    font-size: 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 132px;
}

.btns-approve:hover {
    background-color: #ffe48a !important;
    text-shadow: 1px 1px 2px #804f06 !important;
    color: #fffefc !important;
    border: 1px solid #c97908 !important;
    box-shadow: 3px 3px 1px rgb(252 164 21 / 74%),
        -1px -1px 3px rgb(240 204 46 / 84%) !important;
}

.btns-read {
    font-size: 1rem;
    padding: 5px 10px;
    min-width: 100px;
}
