.btns {
    text-align: center;
    margin: 5px 0;
    min-width: 64px;
    width: auto;
    outline: none;
    background-color: #faf4bf;
    border: 1px solid #d29832;
    transition: 0.3s linear;
    box-shadow: 2px 2px 0px rgb(245 171 72 / 54%);
    padding: 5px;
    border-radius: 5px;
    color: #9a6111;
}

.btns-common {
    font-size: 0.6rem;
    margin-right: 10px;
}

.btns:hover {
    outline: none;
    background-color: #ff5722;
    color: #fff;
    border: 1px solid #ea6e14;
    box-shadow: 3px 3px 6px rgb(171 55 11 / 74%),
        -1px -1px 1px rgb(236 89 15 / 84%);
}

.btns-common > a {
    color: #000;
}

.btns-common > a:hover {
    color: #fff;
}

.btns-log {
    width: 100%;
    font-size: 1.3rem;
}

.btns-log__flood {
    width: 98%;
}

.btns-create {
    font-size: 1.3rem;
    padding: 5px 13px;
}

.btns-send {
    font-size: 1rem;
}
